html, body {
    margin: 0px;
    height: 100%;
    background-color: #e8e8e8;
}

.container {
    margin: 0px;
    height: 100%;
}

.containerMainRow {
     height: 90vh;
}
.styleTableMap {
     max-height: 94%;
     overflow: auto;
}

.map {
    position: relative !important;
    height: 94% !important;
    width: 100% !important;
}